<body style="background-color: rgb(211, 242, 252);">
    <div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="float-center">
                <span style="font-weight: bolder;">Hola {{usuario}}!</span>
                <br>
                <br>
                <a href="/admin/login/logout" class="btn btn-info"> <span style="color: blue; font-weight: bolder;">Cerrar sesión</span>  
                <i class="fas fa-sign-out-alt"></i>
                </a>
            </p>
        </div>
    </div>
</div>
</body>

